{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "proseWrap": "always",
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSameLine": false
}
