{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "proseWrap": "always",
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSameLine": false
}
