# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Ref : https://github.com/dotnet/samples/blob/main/.github/CODEOWNERS

# PCX development team.
* @pantheon-systems/pcc