@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .p-default {
    @apply px-4 py-4 sm:px-6 lg:px-12;
  }

  .responsive-iframe-container {
    @apply relative max-w-[640px] overflow-hidden pt-[56.25%];
  }

  .responsive-iframe {
    @apply absolute bottom-0 left-0 right-0 top-0 h-full w-full;
  }
}

/* Handle margins and left/right padding for images, to support text wrapping. */
.prose :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin: 0;
}

.prose span[style*="shape-outside"][style*="float:left"] {
  padding-right: 2em;
}

.prose span[style*="shape-outside"][style*="float:right"] {
  padding-left: 2em;
}

/* 
  This creates consistent spacing above and below
  text-wrapped images, but at the cost of not being able
  to set vertical offset of a wrapped image in Google Docs.
*/
.prose span[style*="shape-outside"] {
  margin: 2em 0;
}
