@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./webstyles.css");

/* Revert custom font's bullet rendering styles */
li::before {
  font-family: auto;
}

@layer utilities {
  .p-default {
    @apply px-4 py-4 sm:px-6 lg:px-12;
  }

  .responsive-iframe-container {
    @apply relative max-w-[640px] overflow-hidden pt-[56.25%];
  }

  .responsive-iframe {
    @apply absolute bottom-0 left-0 right-0 top-0 h-full w-full;
  }
}

/* Handle margins and left/right padding for images, to support text wrapping. */
.pantheon-img-container span img {
  margin: 0;
  border-radius: 0;
}

.pantheon-img-container span {
  border-radius: 1rem;
}

.pantheon-img-container-breakleft {
  margin-right: 2em;
}

.pantheon-img-container-breakright {
  margin-left: 2em;
}

/* Inline images should be horizontally centered. */
.pantheon-img-container-breakboth,
.pantheon-img-container-alone {
  display: flex;
  max-width: 100% !important;
  place-items: center;
  flex-direction: column;
}

/* 
  This creates consistent spacing above and below
  text-wrapped images, but at the cost of not being able
  to set vertical offset of a wrapped image in Google Docs.
*/
.pantheon-img-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.pantheon-img-container-inline {
  display: inline-block;
  margin: 0;
}

.pantheon-img-container-inline .pantheon-caption {
  display: inline !important;
}
